@(accounts: List[models.user.Customer], adminForm: Form[models.user.Customer])

@import helper._

@views.html.user.main("Administrator Accounts") { 

    <h1>@accounts.size accounts</h1>

    <ul>
        @accounts.map { account =>
            <li>
                @account.userName
                @account.password
                @account.lastName
                @account.firstName
                @account.emailAddress

                @form(controllers.admin.routes.Users.deleteUser(account.id.get)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>

    <h2>Add a new account</h2>

    @form(controllers.admin.routes.Users.newUser) {
        @inputText(adminForm("user name"))
        @inputText(adminForm("password"))
        @inputText(adminForm("last name"))
        @inputText(adminForm("first name"))
        @inputText(adminForm("email address"))

        <input type="submit" value="Create">
    }
}
